/* More sensible defaults */

html {
  interpolate-size: allow-keywords;
  transition-behavior: allow-descrete;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  overflow-wrap: break-word;
  text-wrap: balance;
}

p {
  margin: 0;
  overflow-wrap: break-word;
  text-wrap: pretty;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* *** */

/* App takes up full screen */

html {
  min-height: 100dvh;
  overscroll-behavior: none;
  display: grid;
}

body {
  display: grid;
  margin: 0;
}

#root {
  display: grid;
  position: relative;
  font-family: sans-serif;
  background-color: #242424;
  color: #eee;
  padding: 24px;

  a {
    color: hsl(200, 50%, 50%);
  }
}

/* *** */
